
@media only screen and (min-width: 721px) {
  /* .graph-strategy-table{
        display:flex;
        flex-flow: column;
        flex-wrap: nowrap;
        margin: 0 auto;
        width: 100%;
        background-color: #FFFFFF;
        padding: 20px 20px 0 14px;
        display: grid;
        grid-template-columns: repeat(12,auto);

        
    } */
  .panel-body {
    height: 496.42px;
    /* border: 1px solid red; */
    background-color: #ffffff;
  }
  .graph-strategy-table {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-size: 14px;
  }
  .graph-strategy-table .graph-strategy-header {
    line-height: 19px;
    color: #adadad;
  }
  .graph-strategy-table .graph-strategy-header {
    height: 44px; /* Fixed Row Height */
    /* border-bottom: 1.83228px solid #dadfe5; */
    padding-top: 20px;
  }
  .graph-strategy-row {
    height: 37px; /* Fixed Row Height */
    padding: 0 18px 0 15px;
  }

  .graph-strategy-row.body-row .grid-col:first-child {
    font-weight: 600;
    line-height: 120%;
    color: #333333;
  }
  .graph-strategy-table .graph-strategy-row {
    display: block;
  }
  .graph-strategy-table .graph-strategy-header {
    margin-right: 0px;
  }
  /* table.graph-strategy-table tbody {
    flex: 1;
    overflow-y: hidden;
  } */
  .graph-strategy-table .graph-strategy-row {
    width: 100%;
    display: flex;
  }
  .graph-strategy-table .graph-strategy-row .grid-col,
  .graph-strategy-table .graph-strategy-header .grid-col {
    display: flex;
    flex: 1;
    /* flex-grow: 1; */
    /* flex-basis: fit-content; */
    /* width: fit-content; */
    align-items: center;
    justify-content: flex-start;
    padding-left: 5px;
  }
  .graph-strategy-table .graph-strategy-header .grid-col-11,
  .graph-strategy-table .graph-strategy-row .grid-col-11 {
    flex-grow: 1.8;
  }
  .graph-strategy-table .graph-strategy-row .grid-col:last-child {
    justify-content: flex-end;
  }
  .net-negative {
    color: #f53f3f;
  }
  .net-positive {
    color: #31a060;
  }
  .border-seperator {
    /* width:955; */
    margin-right: 25px;
  }
  .border-seperator.header-seperator,
  .border-seperator.footer-seperator {
    border-bottom: 1.83228px solid #dadfe5;
  }
  .border-seperator.row-seperator {
    border-top: 1px solid #e9ecef;
  }
  .selected-row {
    background-color: #fdf5e6;
  }
  .copy-button-box {
    height: 28px;
    width: 28px;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .copy-button-box>svg{
    width:17px;
    height:17px;
  }
  .copy-button-box.vector-gray {
    background-color: #e9ecef;
  }
 
  .copy-button-box.vector-gray > svg {
    fill: #858585;
  }
  .copy-button-box.vector-yellow > svg {
    fill: #ffa800;
  }
  .graph-strategy-footer {
    padding: 15px;
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    position: relative;
  }
  .page-bar {
    display: flex;
    flex-flow: row;
    height: fit-content;
    width: fit-content;
    align-items: center;
    font-size: 14px;
    line-height: 120%;

    letter-spacing: 0.01em;
  }
  .page-bar > div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .page-arrow {
    width: 32px;
    height: 32px;
  }
  .page-arrow > svg {
    stroke: #c1e3cf;
  }
  .page-arrow.active > svg {
    stroke: #31a060;
  }
  .page-number-box {
    width: 24px;
    height: 24px;
  }
  .page-number-box.active {
    color: #31a060;
  }
  .arrow-back {
    transform: rotate(90deg);
  }
  .arrow-forward {
    transform: rotate(-90deg);
  }
  .select-container {
    display: flex;
    flex-flow: row;
    position: absolute;
    left: 15px;
    font-size: 12px;
    line-height: 14px;
    gap: 8px;
    align-items: center;

    letter-spacing: 0.01em;

    color: #5c5c5c;
  }
  .select-container img {
    background: #ffffff;
    /* System/Light/60% */

    border: 1px solid #e9ecef;
    border-radius: 3px;
  }
}

@media only screen and (max-width: 720px) {
  .graph-strategy-table {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 3.125vw;
  }

  .graph-strategy-footer,
  .graph-strategy-header,
  .row-seperator,
  .footer-seperator {
    display: none;
  }
  .card-container {
    background: #ffffff;
    border-radius: 1.25vw;
    padding: 4.69vw;
    display: flex;
    flex-flow: column;
    gap: 3.125vw;
    width: 100%;
    /* align-items: center; */
  }
  .card-container > .card-header,
  .card-container > .row,
  .card-container > .beta-row {
    display: flex;
    flex-flow: row;
    /* justify-content: flex-start; */
    flex: 1;
    border-bottom: 1px solid #dadfe5;
    align-items: flex-end;
    justify-content: space-between;
    height: 7.5vw;
  }

  .header-flex-start {
    width: 37.5vw;
    display: flex;
    flex-flow: row;
    gap: 3.125vw;
  }
  .header-flex-start > .strategy-title {
    color: #568cf3;
    display: flex;
    flex-flow: row;
    gap: 2.34vw;
    font-weight: 600;
    font-size: 4.375vw;
    line-height: 120%;

    display: flex;
    align-items: center;
    letter-spacing: 0.01em;
  }
  .header-flex-start > .symbol {
    font-weight: 400;
    font-size: 4.375vw;
    line-height: 140%;

    display: flex;
    align-items: center;
    letter-spacing: 0.01em;
    color: #333333;
  }
  .card-header > div:last-child {
    font-weight: 600;
    font-size: 4.375vw;
    line-height: 120%;
    display: flex;
    align-items: flex-end;
    letter-spacing: 0.01em;

    /* System/Dark/100% */

    color: #333333;
  }

  .row > div:first-child,
  .beta-row.row-net-pl > .row-text {
    font-weight: 600;
    font-size: 4.375vw;
    line-height: 120%;

    display: flex;
    align-items: center;
    letter-spacing: 0.01em;

    /* System/Dark/100% */

    color: #333333;
  }
  .row-net-pl > .row-data {
    font-weight: 600;
    font-size: 4.375vw;
    line-height: 120%;

    display: flex;
    align-items: flex-end;
    text-align: right;
    letter-spacing: 0.01em;

    /* Accent/Red/100% */
  }
  .row-net-pl > .row-data.negative {
    color: #f53f3f;
  }
  .row-net-pl > .row-data.positive {
    color: #31a060;
  }
  .row > div:last-child {
    font-weight: 400;
    font-size: 4.375vw;
    line-height: 140%;
    display: flex;
    align-items: center;
    text-align: right;
    letter-spacing: 0.01em;
    color: #5c5c5c;
  }

  .row-open-time > div:first-child {
    text-align: left;
  }
  .row-open-time > div:last-child {
    flex-shrink: 0;
  }
  .copy-button {
  }
  .copy-button-box {
    height: 12.5vw;
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    gap: 3.125vw;
    border-radius: 0.63vw;
    /* border-bottom: 0; */
  }
  .vector-gray {
    background: #dadfe5;
    fill: #858585;
    color: #858585;
  }
  .vector-yellow{
    background-color: #FFF6E6;
    color:#FFA800;
    /* stroke:#FFA800; */
    fill: #FFA800;
  }
  .vector-green{
    background: #C1E3CF;
    color: #31A060;
    fill: #31A060;
  }
  .copy-button-box>svg{
    height:4.375vw;
    width:4.375vw;
  }
  .copy-button-text {
    font-weight: 600;
    font-size: 4.375vw;
    line-height: 120%;

    letter-spacing: 0.01em;

  }
}
