.graphframe {
  background: #f8f9fa;
  border-radius: 4px;
  border: 1px solid blue;
}

@media only screen and (min-width: 992px) {
  .graphframe {
    grid-area: graphframe;
    min-height: 300;
    padding: 39px 30px 55px;
    display: flex;
    flex-flow: column;
    gap: 39px;
  }
  .graph-tabs {
    display: flex;
    flex-flow: row;
    height: 48px;
    margin: 0 -30px;
  }
  .graph-tab {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 0px;
    gap: 15px;
    font-weight: 600;
    font-size: 16px;
    line-height: 48px;
    /* identical to box height */

    letter-spacing: 0.01em;
  }
  .tab-active {
    background: #eef4fe;
    box-shadow: inset 0px -3px 0px #568cf3;
    border-radius: 0px;
    color: #568cf3;
  }
  .tab-inactive {
    background: #f8f9fa;
    box-shadow: inset 0px -3px 0px #dadfe5;
    border-radius: 0px;
    color: #858585;
  }
  .graph-body {
    width: 980px;
    height: 424px;

    background: #ffffff;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr 930px;
    grid-template-rows: 369px 1fr;
    grid-template-areas:
      "yaxis graphbody"
      ". xaxis";
      overflow-x: hidden;
  }
  .y-axis {
    grid-area: yaxis;
    display: flex;
    flex-flow: column-reverse;
    justify-content: center;
    gap: 29.42px;
    width: 32px;
    align-items: flex-start;
    justify-self: flex-end;
    margin-right: 4.1px;
  }
  .y-axis-label {
    font-weight: 400;
    font-size: 11.1231px;
    line-height: 15px;
  }
  .graph-img {
    grid-area: graphbody;
    position: relative;
  }
  /* src={process.env.PUBLIC_URL + '/images/image 7.png'} */

  .graph-img canvas{
    position: absolute;
    height: 102%!important;
    width: 102%!important;
    transform: translate(-1%, -.5%);
  }
  .x-axis {
    grid-area: xaxis;
    display: flex;
    flex-flow: row;
    gap: 27.7px;
    padding-inline: 7px;
    margin-top: .03px;
    /* flex-wrap: ; */
  }
  .label-trio {
    display: flex;
    flex-flow: row;
    min-width: 332.3px;
    border-top: 1.39039px solid #E9ECEF;
    justify-content:space-between;
    font-weight: 400;
    font-size: 11.1231px;
    line-height: 15px;
    text-align: right;
    padding: 0 18px;
  }
  .x-label-box{
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    gap:7.66px
  }
  .x-label-line{
    height:7.66px;
    border: 1.39039px solid #E9ECEF;

  }
  .x-label {
    color: #5c5c5c;
  }
}
@media only screen and (max-width: 991px) {
  .graphframe {
    width: 100%;
  }
  .graph-tabs,
  .graph-tab {
    display: none;
  }
}
